* {
    margin: 0;
    padding: 0;
<<<<<<< HEAD

=======
}
<<<<<<< HEAD
h1{
=======
h1 {
>>>>>>> c2e1c39f795946d862dc68e927ca9c75d7250c08
    background-color: blue;
>>>>>>> c2e1c39f795946d862dc68e927ca9c75d7250c08
}